* {
  /* outline: 1px solid red ! important; */
}
body {
  width: 100∞;
  margin: 0;
  padding: 0;
  height: auto;
}

/* header */
.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 20px;
  width: 100px;
  height: 40px;
}

.logo-img {
  width: 100%;
}
.nav-group {
  margin-right: 20px;
}
.nav-item-list {
  display: flex;
  margin: 25px 0;
  color: #777;
}

.nav-item {
  margin-right: 20px;
}


/* main */
.main-content {
  position: relative;
  margin-bottom: 50px;
  height: 700px;
}
.main-img {
  position: absolute;
  left: 35%;
  width: 65%;
  height: 520px;
  background-color: #ff188a;
}
.main-img img {
  width: 100%;
}
.container {
  position: absolute;
  top: 85px;
  left: 16%;
  width: 650px;
  height: 200px;
}
.container span {
  color: #00adb9;
}
.main-ttl {
  font-size: 68px;
  font-weight: bold;
  color: #911955;
  line-height: 85px;
  margin-bottom: 50px;
  font-family: 'Indie Flower', cursive;
}
.catch-copy {
  line-height: 25px;
}
.main-msg{
  font-size: 22px;
  font-weight: bold;
  color: #911955;
  font-family: 'Indie Flower', cursive;
}
.sub-msg {
  font-size: 15px;
  color: #777;
}


/* News */
.news {
  margin: 0 auto 70px;
  width: 800px;
}
.ttl-style {
  font-family: 'Indie Flower', cursive;
  color: #911955;
  margin-bottom: 8px;
}
.sub-ttl {
  font-size: 23px;
  color: #777;
  font-weight: bold;
  margin-bottom: 27px;
}
.news-item {
  display: flex;
  padding: 25px 0;
  border-bottom: 1px solid #e9eaea;
  color: #666;
}
.news-item:nth-child(1) {
  border-top: 1.5px solid #ddd;
  padding-top: 40px;
}
.news-item:nth-child(6) {
  border-bottom: 1.5px solid #ddd;
  padding-bottom: 10px;
}
.news-date {
  padding-right: 20px;
}
.news-mark {
  color: #fff;
  background-color: #911955;
  border-radius: 7px;
  padding: 0 10px;
}
.news-ttl {
  padding-left: 20px;
}


/* About */
.about {
  height: 420px;
  background-color: #e9eaea;
}
.about-ttl {
  text-align: center;
  padding-top: 40px;
}
.about-content {
  display: flex;
  justify-content: space-between;
}
.about-text-group {
  width: 385px;
  height: 200px;
  margin-left: 240px;
  line-height: 25px;
}
.about-text1 {
  color: #777;
  margin-bottom: 25px;
}
.about-text2 {
  color: #777;  
}
.about-img {
  width: 385px;
  height: 200px;
  margin-right: 240px;
  background-color: #fff;
}
.about-img img {
  width: 100%;
}


/* Service */
.service {
  margin: 0 240px;
  margin-bottom: 70px;
}
.service-ttl {
  padding-top: 65px;
}
.grid {
  display: grid;
  grid-template-rows: 155px 155px;
  grid-template-columns: 480px 480px;
}
.box1 {
  grid-column: 1/2;
  grid-row: 1/3;
  text-align: center;
  background-color: #911955;
}
.box2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #6f4664;
}
.box3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: rgb(112, 86, 132);
}
.box-img1 {
  margin: 30px 200px 15px 200px;
}
.box-ttl1 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 15px;
}
.box-text1{
  width: 380px;
  text-align: left;
  margin: 0 auto;
  line-height: 1.3;
  color: #fff;
}
.box-img1 {
  width: 100px;
  height: 100px;
}
.box-img2,
.box-img3 {
  width: 100px;
  height: 100px;
}
.box-img1 img,
.box-img2 img,
.box-img3 img {
  width: 100%;
  height: 100%;
}
.box-img2,
.box-img3 {
  margin-left: 20px;
}
.box-ttl2,
.box-ttl3 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 20px;
}
.box-text2,
.box-text3 {
  width: 300px;
  color: #fff;
  line-height: 1.3;
  margin-left: 20px;
}
.box-container {
  display: flex;
  padding: 27px 0;
}


/* Blog */
.blog {
  height: 570px;
  background-color: #e9eaea;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 66.5%;
}
.blog-ttl {
  padding-top: 30px;
  margin-left: 240px;
}
.blog-list {
  position: relative;
  width: 40%;
  border: 1px solid #000;
  border-radius: 12px;
  background-color: #fff;
  margin-bottom: 45px;
}
.blog-list:nth-child(2),
.blog-list:nth-child(3) {
  margin-left: 30px;
}
.blog-img {
  width: 298px;
  height: 200px;
  margin-bottom: 20px;
}
.blog-img img {
  width: 100%;
  border-radius: 11px 11px 0 0;
}
.blog-mark {
  position: absolute;
  bottom: 91%;
  width: 60px;
  height: 30px;
  padding: 5px;
  color: #fff;
  text-align: center;
  background-color: #911955;
  border-radius: 10px 0 0 0;
}
.text-box {
  width: 240px;
  margin: 0 auto;
  line-height: 1.5;
}
.text-box p {
  margin-bottom: 30px;
}
.date-tag-box {
  display: flex;
  justify-content: space-around;
  margin: 0 15px 20px 15px;
}
.btn {
  text-align: center;
}
.blog-btn {
  text-align: center;
  margin: 30px auto;
  border: 1px solid #911955;
  border-radius: 25px;
  padding: 15px 35px;
  color: #911955;
  background-color: #fff;
}


/* Company */
.company {
  width: 720px;
  margin: 70px auto;
  align-items: center;
  text-align: left;
}
table {
  width: 100%;
  color: #777;
  border-collapse: collapse;
  margin-top: 40px;
}
table th,
table tr,
table td {
  border: 1px solid #999;
  padding: 20px;
}
table th {
  width: 30%;
  background-color: #e9eaea;
}
table td {
  background-color: #fff;
}


/* Work */
.work {
  width: 100%;
  height: 248px;
  display: flex;
}
.recruit-info {
  background-image: url("../img-2/recruit.png");
}
.interview {
  background-image: url("../img-2/interview.png");
}
.recruit-info,
.interview {
  width: 50%;
  background-size: cover;
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  text-align: center;
  padding: 110px;
}


/* Contact */
.contact {
  text-align: center;
  margin-bottom: 85px;
}
.contact-text {
  color: #777;
  font-size: 18px;
  font-weight: bold;
  margin-top: 50px;
}
.border {
  height: 40px;
  margin: 10px 718px 37px 0;
  border-right: 2px solid #911955;
}
.contact-btn {
  position: relative;
  padding: 28px 90px;
  border-radius: 40px;
  background: linear-gradient(90deg, #db398a, #911955);
  color: #fff;
  box-shadow: 0px 7px #911955;
}
.contact-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  background-image: url(../img-2/mailicon.svg);
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
}


/* Footer */
.footer {
  height: 50px;
  text-align: center;
  padding: 15px;
  background-color: #e9eaea;
}
.copyright {
  color: #777;
}